USE [ILS]
GO
/****** Object:  StoredProcedure [dbo].[BHS_ODWS_PacksizeShipContainer]    Script Date: 8/13/2021 6:49:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BHS_ODWS_PacksizeShipContainer]
(	
	@launchNum		int
)

AS 

BEGIN

	SET NOCOUNT ON;

declare @NextNumber int;
select @NextNumber = NEXT_NUM
from NEXT_NUMBER where NEXT_NUM_KEY = 'Shipping Container Number'

INSERT INTO BHS_PACKSIZE_SHIPPING_CONTAINER
select 
sc.INTERNAL_CONTAINER_NUM, sc.CONTAINER_ID, sc.warehouse, sc.CONTAINER_TYPE, sc.CONTAINER_CLASS, sc.status, sc.STATUS_FAILED, sc.INTERNAL_CONTAINER_NUM, 
sc.weight, sc.WEIGHT_UM, sc.volume, sc.length, sc.width, sc.height,
sc.DIMENSION_UM, sc.VOLUME_UM, sc.VALUE, sc.INTERNAL_SHIPMENT_NUM, sc.INTERNAL_SHIPMENT_LINE_NUM, sc.company, sc.item, sc.QUANTITY,
sc.QUANTITY_UM, sc.NMFC_CODE, sc.STATUS_FLOW_NAME, sc.HAZARDOUS_CODE, sc.MANIFEST_STATE, sc.MANIFEST_CARR_SERVICE_SYMBOL,
sc.MANIFEST_DATE_TIME, sc.TRACKING_NUMBER, sc.TOTAL_FREIGHT_CHARGE, sc.BASE_FREIGHT_CHARGE, sc.FREIGHT_DISCOUNT,
sc.ACCESSORIAL_CHARGE, sc.USER_DEF1, sc.USER_DEF2, sc.USER_DEF3, sc.USER_DEF4, sc.USER_DEF5, sc.USER_DEF6, sc.USER_DEF7,
sc.USER_DEF8, sc.USER_STAMP, sc.PROCESS_STAMP, sc.DATE_TIME_STAMP, sc.INTERNAL_ORDER_NUM, sc.MANIFEST_FOR_DATE, sc.TREE_UNIT,
sc.PLANNED_DELIVERY_DATE_TIME, sc.BUNDLE_ID, sc.MSN, sc.LOCATION, sc.GROUP_POSITION, sc.LAUNCH_NUM, sc.CONTAINER_COUNT_NUMBER,
sc.CONTAINER_COUNT_TOTAL, sc.GROUP_NUM, sc.WORK_ZONE, sc.INTERFACE_RECORD_ID, sc.CONTAINER_ID, sc.INTERNAL_SHIP_ALLOC_NUM, 
sc.WORK_CREATED, sc.HUNDREDWEIGHT, sc.MANIFEST_ID, sc.MANIFEST_CLOSE_DATE_TIME, sc.EPC, sc.LOT, sc.URI, sc.RETURNS_TOTAL_FREIGHT_CHARGE,
sc.RETURNS_BASE_FREIGHT_CHARGE, sc.RETURNS_FREIGHT_DISCOUNT, sc.RETURNS_ACCESSORIAL_CHARGE, sc.RETURNS_CALLTAG_FEE,
sc.RETURNS_TRACKING_NUMBER, sc.RETURNS_MSN, sc.RETURNS_PRINT_LABEL, sc.WORLD_EASE_ID, sc.WORLD_EASE_GROUP_STATUS, sc.LOGISTICS_UNIT,
sc.PARENT_LOGISTICS_UNIT, sc.PALLET_SEQUENCE, sc.ORIGINAL_PICK_LOC, sc.INTERNAL_MOP_NUMBER, sc.QC_STATUS, sc.QC_ASSIGNMENT_ID,
sc.PALLET_UM_CONVERSION_IDENTIFIER, sc.PALLET_UM_CONVERSION_PARENT_UM, sc.MMS_PIECE_ID
from SHIPPING_CONTAINER sc
join SHIPMENT_ALLOC_REQUEST sa on sa.INTERNAL_SHIP_ALLOC_NUM = sc.INTERNAL_SHIP_ALLOC_NUM
where sc.launch_num = @launchNum
and sa.TREAT_AS_LOOSE = 'Y'

INSERT INTO BHS_PACKSIZE_SHIPPING_CONTAINER
select * from SHIPPING_CONTAINER
where LAUNCH_NUM = @launchNum
and CONTAINER_TYPE = 'Packsize'

DELETE sc 
FROM SHIPPING_CONTAINER sc
join SHIPMENT_ALLOC_REQUEST sa on sa.INTERNAL_SHIP_ALLOC_NUM = sc.INTERNAL_SHIP_ALLOC_NUM
where sc.LAUNCH_NUM = @launchNum
and sa.TREAT_AS_LOOSE = 'Y'

DELETE FROM SHIPPING_CONTAINER
where LAUNCH_NUM = @launchNum
and CONTAINER_TYPE = 'Packsize'

INSERT INTO SHIPPING_CONTAINER
--insert values for parent container
select distinct 
--adjust container id to display value based on which box in the shipment it is
REPLACE(STUFF(sc.CONTAINER_ID, 6, 1, pc.BOX_SEQUENCE), right(container_id, 7), CAST((@NextNumber + Row_Count) as nvarchar) + '1'), --STUFF(sc.CONTAINER_ID, 6, 1, pc.BOX_SEQUENCE), 
sc.warehouse, sc.CONTAINER_TYPE, sc.CONTAINER_CLASS, 300, sc.STATUS_FAILED, sc.PARENT, 
(select sum(SKU_WEIGHT * QUANTITY) + max(WEIGHT) from BHS_PacksizeCubing where box_id = pc.BOX_ID and order_id = pc.ORDER_ID and BOX_SEQUENCE = pc.BOX_SEQUENCE), 
sc.WEIGHT_UM, (pc.length * pc.WIDTH * pc.height), pc.length, pc.width, pc.height,
sc.DIMENSION_UM, sc.VOLUME_UM, sc.value, sc.INTERNAL_SHIPMENT_NUM, sc.INTERNAL_SHIPMENT_LINE_NUM, sc.company, sc.item, sc.QUANTITY,
sc.QUANTITY_UM, sc.NMFC_CODE, sc.STATUS_FLOW_NAME, sc.HAZARDOUS_CODE, sc.MANIFEST_STATE, sc.MANIFEST_CARR_SERVICE_SYMBOL,
sc.MANIFEST_DATE_TIME, sc.TRACKING_NUMBER, sc.TOTAL_FREIGHT_CHARGE, sc.BASE_FREIGHT_CHARGE, sc.FREIGHT_DISCOUNT,
sc.ACCESSORIAL_CHARGE, sc.USER_DEF1, sc.USER_DEF2, sc.USER_DEF3, sc.USER_DEF4, sc.USER_DEF5, sc.USER_DEF6, sc.USER_DEF7,
sc.USER_DEF8, sc.USER_STAMP, sc.PROCESS_STAMP, sc.DATE_TIME_STAMP, sc.INTERNAL_ORDER_NUM, sc.MANIFEST_FOR_DATE, sc.TREE_UNIT,
sc.PLANNED_DELIVERY_DATE_TIME, sc.BUNDLE_ID, sc.MSN, sc.LOCATION, sc.GROUP_POSITION, sc.LAUNCH_NUM, sc.CONTAINER_COUNT_NUMBER,
sc.CONTAINER_COUNT_TOTAL, sc.GROUP_NUM, sc.WORK_ZONE, sc.INTERFACE_RECORD_ID, sc.PARENT_CONTAINER_ID, sc.INTERNAL_SHIP_ALLOC_NUM, 
sc.WORK_CREATED, sc.HUNDREDWEIGHT, sc.MANIFEST_ID, sc.MANIFEST_CLOSE_DATE_TIME, sc.EPC, sc.LOT, sc.URI, sc.RETURNS_TOTAL_FREIGHT_CHARGE,
sc.RETURNS_BASE_FREIGHT_CHARGE, sc.RETURNS_FREIGHT_DISCOUNT, sc.RETURNS_ACCESSORIAL_CHARGE, sc.RETURNS_CALLTAG_FEE,
sc.RETURNS_TRACKING_NUMBER, sc.RETURNS_MSN, sc.RETURNS_PRINT_LABEL, sc.WORLD_EASE_ID, sc.WORLD_EASE_GROUP_STATUS, sc.LOGISTICS_UNIT,
sc.PARENT_LOGISTICS_UNIT, sc.PALLET_SEQUENCE, sc.ORIGINAL_PICK_LOC, sc.INTERNAL_MOP_NUMBER, sc.QC_STATUS, sc.QC_ASSIGNMENT_ID,
sc.PALLET_UM_CONVERSION_IDENTIFIER, sc.PALLET_UM_CONVERSION_PARENT_UM, sc.MMS_PIECE_ID

from BHS_PacksizeCubing pc
join BHS_PACKSIZE_SHIPPING_CONTAINER sc on sc.INTERNAL_SHIPMENT_NUM = pc.ORDER_ID and CONTAINER_ID is not null
join (select ROW_NUMBER() OVER( ORDER BY order_id) 'Row_Count', order_id, box_sequence from BHS_PacksizeCubing group by ORDER_ID, BOX_SEQUENCE) t
    on t.ORDER_ID = pc.ORDER_ID and t.BOX_SEQUENCE = pc.BOX_SEQUENCE 

where sc.LAUNCH_NUM = @launchNum

INSERT INTO SHIPPING_CONTAINER
--insert values for child container
select distinct sc2.CONTAINER_ID, sc.warehouse, sc2.CONTAINER_TYPE, sc2.CONTAINER_CLASS, 300, sc.STATUS_FAILED, sc.INTERNAL_CONTAINER_NUM, 
(pc.SKU_WEIGHT * pc.QUANTITY), sc.WEIGHT_UM, (pc.LENGTH * pc.WIDTH * pc.HEIGHT), pc.length, pc.width, pc.height,
sc.DIMENSION_UM, sc2.VOLUME_UM, sc.VALUE, sc.INTERNAL_SHIPMENT_NUM, sa.INTERNAL_SHIPMENT_LINE_NUM, sc.company, sc2.item, pc.QUANTITY,
sc.QUANTITY_UM, sc.NMFC_CODE, sc.STATUS_FLOW_NAME, sc.HAZARDOUS_CODE, sc.MANIFEST_STATE, sc.MANIFEST_CARR_SERVICE_SYMBOL,
sc.MANIFEST_DATE_TIME, sc.TRACKING_NUMBER, sc.TOTAL_FREIGHT_CHARGE, sc.BASE_FREIGHT_CHARGE, sc.FREIGHT_DISCOUNT,
sc.ACCESSORIAL_CHARGE, sc2.USER_DEF1,'Containerized', sc2.USER_DEF3, 1, sc2.USER_DEF5, sc2.USER_DEF6, sc2.USER_DEF7,
sc2.USER_DEF8, sc.USER_STAMP, sc.PROCESS_STAMP, sc.DATE_TIME_STAMP, sc.INTERNAL_ORDER_NUM, sc.MANIFEST_FOR_DATE, sc.INTERNAL_CONTAINER_NUM,
sc.PLANNED_DELIVERY_DATE_TIME, sc.BUNDLE_ID, sc.MSN, sa.FROM_LOC, sc.GROUP_POSITION, sc.LAUNCH_NUM, sc2.CONTAINER_COUNT_NUMBER,
sc2.CONTAINER_COUNT_TOTAL, sc.GROUP_NUM, sc.WORK_ZONE, sc.INTERFACE_RECORD_ID, sc.CONTAINER_ID, sa.INTERNAL_SHIP_ALLOC_NUM, 
sc.WORK_CREATED, sc.HUNDREDWEIGHT, sc.MANIFEST_ID, sc.MANIFEST_CLOSE_DATE_TIME, sc.EPC, sc.LOT, sc.URI, sc.RETURNS_TOTAL_FREIGHT_CHARGE,
sc.RETURNS_BASE_FREIGHT_CHARGE, sc.RETURNS_FREIGHT_DISCOUNT, sc.RETURNS_ACCESSORIAL_CHARGE, sc.RETURNS_CALLTAG_FEE,
sc.RETURNS_TRACKING_NUMBER, sc.RETURNS_MSN, sc.RETURNS_PRINT_LABEL, sc.WORLD_EASE_ID, sc.WORLD_EASE_GROUP_STATUS, sc.LOGISTICS_UNIT,
sc.PARENT_LOGISTICS_UNIT, sc.PALLET_SEQUENCE, sc.ORIGINAL_PICK_LOC, sc.INTERNAL_MOP_NUMBER, sc.QC_STATUS, sc.QC_ASSIGNMENT_ID,
sc.PALLET_UM_CONVERSION_IDENTIFIER, sc.PALLET_UM_CONVERSION_PARENT_UM, sc.MMS_PIECE_ID

from BHS_PacksizeCubing pc
join Shipping_Container sc on sc.INTERNAL_SHIPMENT_NUM = pc.ORDER_ID and sc.length = pc.length and sc.width = pc.width and CONTAINER_ID is not null and substring(container_id, 6, charindex('40000', reverse(container_id)) - charindex('0000000', reverse(container_id)) - 7 ) = pc.BOX_SEQUENCE
join SHIPMENT_ALLOC_REQUEST sa on sa.INTERNAL_SHIPMENT_NUM = pc.ORDER_ID and sa.item = pc.sku and sa.ERP_ORDER_LINE_NUM = pc.ERP_ORDER_LINE_NUM and sa.USER_DEF4 = pc.BOX_SEQUENCE																																											--elegler added 07/30/2020 to ensure our join includes box_sequence to prevent duplicates
join BHS_PACKSIZE_SHIPPING_CONTAINER sc2 on sc2.INTERNAL_SHIPMENT_NUM = pc.ORDER_ID and sc2.item = pc.sku and sc2.length = pc.length and sc2.width = pc.WIDTH and sc2.INTERNAL_SHIPMENT_LINE_NUM = (select top 1 INTERNAL_SHIPMENT_LINE_NUM from shipment_detail where ERP_ORDER_LINE_NUM = pc.ERP_ORDER_LINE_NUM and INTERNAL_SHIPMENT_NUM = pc.ORDER_ID) and sc2.INTERNAL_SHIP_ALLOC_NUM = sa.INTERNAL_SHIP_ALLOC_NUM

where sc2.LAUNCH_NUM = @launchNum
--pc.BOX_SEQUENCE = (select min(box_sequence) from BHS_PacksizeCubing where ORDER_ID = pc.ORDER_ID and BOX_ID = pc.BOX_ID)

--05/19/20 added this to get weight checker reports to correctly print
UPDATE SHIPPING_CONTAINER
SET TREE_UNIT = INTERNAL_CONTAINER_NUM
where LAUNCH_NUM = @launchNum and parent is null and CONTAINER_TYPE = 'PACKSIZE'

--09/15/20 corrects the container counts 
update sc
set container_count_total = c.numConts, CONTAINER_COUNT_NUMBER = d.Row_Count
from SHIPPING_CONTAINER sc
join (
	select count(*) numConts, INTERNAL_SHIPMENT_NUM 
	from shipping_container 
	where container_id is not null and launch_num = @launchNum 
	group by INTERNAL_SHIPMENT_NUM
	) c on c.INTERNAL_SHIPMENT_NUM = sc.INTERNAL_SHIPMENT_NUM
join (
	select ROW_NUMBER() OVER( PARTITION BY INTERNAL_SHIPMENT_NUM ORDER BY internal_shipment_num) 'Row_Count', CONTAINER_ID
	from shipping_container 
	where container_id is not null and launch_num = @launchNum 
	) d on d.CONTAINER_ID = sc.CONTAINER_ID
where sc.CONTAINER_ID is not null

UPDATE nn
SET NEXT_NUM = NEXT_NUM + (select count(*) from shipping_container where LAUNCH_NUM = @launchNum and CONTAINER_TYPE = 'Packsize' and parent is null) + 1
FROM NEXT_NUMBER nn
WHERE NEXT_NUM_KEY = 'Shipping Container Number'

END