USE [ILS]
GO
/****** Object:  StoredProcedure [dbo].[BHS_ODWS_PacksizeShipAllo]    Script Date: 8/13/2021 6:49:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[BHS_ODWS_PacksizeShipAllo]
(	
	@launchNum		int
)

AS 

BEGIN

	SET NOCOUNT ON;

INSERT INTO BHS_PACKSIZE_SHIPMENT_ALLOC_REQUEST
select * from SHIPMENT_ALLOC_REQUEST 
where launch_num = @launchNum
and TREAT_AS_LOOSE = 'Y'

DELETE FROM SHIPMENT_ALLOC_REQUEST
where LAUNCH_NUM = @launchNum
and TREAT_AS_LOOSE = 'Y'


INSERT INTO SHIPMENT_ALLOC_REQUEST
SELECT distinct NULL, sd.warehouse, sd.INTERNAL_SHIPMENT_LINE_NUM, 
sd.INTERNAL_SHIPMENT_NUM, sd.SHIPMENT_ID, sd.ORDER_TYPE,
sd.ERP_ORDER, sd.ERP_ORDER_LINE_NUM, sd.INTERNAL_ORDER_NUM, 
sd.PICK_LIST_ID, sd.PRIORITY, sd.ITEM, sd.COMPANY, sd.ITEM_DESC,
pc.QUANTITY, sd.QUANTITY_UM, sd.LOT, sd.CUSTOMER, sd.SHIP_TO, sd.MARK_FOR, 
sd.CARRIER, sd.CARRIER_SERVICE, sd.CARRIER_TYPE,
sd.ORDER_DATE, sd.REQUESTED_DELIVERY_DATE, sd.REQUESTED_DELIVERY_TYPE, 
sd.PLANNED_SHIP_DATE, sa.ALLOCATION_ZONE, sd.ITEM_WEIGHT,
sd.WEIGHT_UM, sd.ITEM_LENGTH, sd.ITEM_WIDTH, sd.ITEM_HEIGHT, 
sd.ITEM_DIMENSION_UM, sd.VOLUME_UM, sd.ITEM_DIVISION, sd.ITEM_DEPARTMENT,
sd.ITEM_LIST_PRICE, sd.ITEM_NET_PRICE, sd.VALUE, sd.ITEM_SIZE, 
sd.ITEM_COLOR, sd.ITEM_STYLE, sd.LAUNCH_NUM, sd.CUSTOMER_PO, sd.INVOICE, 
sa.PACKING_CATEGORY, sd.HAZARDOUS_CODE, sd.NMFC_CODE, sa.USER_DEF1, 'Containerized', sa.USER_DEF3, pc.BOX_SEQUENCE, sa.USER_DEF5, 
sa.USER_DEF6, sa.USER_DEF7, sa.USER_DEF8, sd.USER_STAMP, sd.PROCESS_STAMP, sd.DATE_TIME_STAMP, sd.warehouse, 
sa.INTERFACED_DATE, sa.PICKING_SEQ, sa.PUTAWAY_SEQ,pc.QUANTITY, 'EA', sa.INVENTORY_TRACKING, sa.FROM_LOC,sa.TO_LOC, 
sa.FROM_WORK_ZONE, sa.TO_WORK_ZONE,sa.FROM_TEMPL_FIELD1, sa.FROM_TEMPL_FIELD2, sa.FROM_TEMPL_FIELD3, sa.FROM_TEMPL_FIELD4, 
sa.FROM_TEMPL_FIELD5, sa.TO_TEMPL_FIELD1, sa.TO_TEMPL_FIELD2, sa.TO_TEMPL_FIELD3, sa.TO_TEMPL_FIELD4, sa.TO_TEMPL_FIELD5, 'Y',
'PACKSIZE', 0.00000, ((pc.QUANTITY * pc.SKU_WEIGHT) + pc.WEIGHT),  pc.WIDTH, pc.LENGTH, pc.HEIGHT, 'IN', 'LB',
0.00000, 'Y', sa.LOGISTICS_UNIT, sa.PARENT_LOGISTICS_UNIT, sa.FROM_LOC_INV_ATTRIBUTES_ID,
sa.TO_LOC_INV_ATTRIBUTES_ID, sa.PALLET_UM_CONVERSION_PARENT_UM, 0

FROM BHS_PacksizeCubing pc
       join SHIPMENT_DETAIL sd
             on sd.INTERNAL_SHIPMENT_NUM = pc.ORDER_ID and sd.ITEM = pc.sku and sd.ERP_ORDER_LINE_NUM = pc.ERP_ORDER_LINE_NUM
       join SHIPMENT_HEADER sh
             on sh.INTERNAL_SHIPMENT_NUM = sd.INTERNAL_SHIPMENT_NUM
	   join BHS_PACKSIZE_SHIPMENT_ALLOC_REQUEST sa
			 on sa.INTERNAL_SHIPMENT_NUM = sd.INTERNAL_SHIPMENT_NUM and sa.ITEM = pc.sku and sa.ERP_ORDER_LINE_NUM = pc.ERP_ORDER_LINE_NUM and sa.launch_num = sd.LAUNCH_NUM


END
